/* body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
} */

:root {
  --light: #f6f6f6;
  --darkblue: #2c3e50;
  --lightblue: #3498db;
  --red: #e74c3c;
  --lightred: #f9eae7;
  --lightyellow: #fff5d1;
}

body {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  background-color: #2c3e50;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.header,
.custom-modal-header,
.custom-card-header,
.btn-custom {
  background-color: var(--darkblue);
  color: var(--light);
}

.btn-custom:hover {
  color: var(--lightblue);
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}

.project-late {
  background-color: var(--lightred);
}

.project-today {
  background-color: var(--lightyellow);
}